
// =======================================================================
// BUTTONS
// =======================================================================

.pure-button {
    text-transform: uppercase;
}

.pure-form-stacked .pure-button {
    margin: 8px 0px;
}

// =======================================================================
// LISTS
// =======================================================================

.pure-menu {
    color: inherit;

    .pure-menu-heading {
        color: inherit;
    }

    ul {
        @extend .pure-menu-list;

        li {
            @extend .pure-menu-item;
            cursor: pointer;
            &:hover {
                background-color: rgba(#fff, .4);
            }

            a {
                @extend .pure-menu-link;
                color: inherit;
                &:hover {
                    background-color: transparent;
                }
            }
        }
    }
}
